<header class="header">
    <div class="container">
        <div class="row">
            <div class="header__inner">
                <div class="logo">
                    <span class="point">TR</span>
                </div>
                <div class="main-menu">
                    <ul class="list-flex">
                        <li><a href="#hello">Hello</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#experience">Experience</a></li>
                        <li><a href="#education">Education</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#contact">Contact me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
